<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>About Us</h1>
      <p>Association Robotique ENSI est une organisation à but non lucratif, fondée en 2006 par des jeunes étudiants avec des grands rêves et des grandes passions pour la robotique.<br>Notre association, qui compte maintenant plus de 100 membres, est composée de trois pôles : médias, développement commercial et projet.<br>De plus, nous travaillons sur 4 axes : événementiel, entraînement, compétition et aéronautique.<br>ARE offre à ses membres une excellente formation technique, accompagnée d’une expérience managériale exceptionnelle.<br></p>
    </div>
  </body>
</html>