<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
	<title>Social Media Information</title>
</head>
<body>
	<div class="content">
	<header>
		<h1>Social Media Informations</h1>
	</header>
	<div class="social-media">
		<div class="social-media-item">
			<h2>Facebook</h2>
			<img src="{% static 'image/facebook-3-24.png' %}">
			<p>Communiquez avec nous sur Facebook pour rester au courant de nos dernières nouvelles et événements.</p>
			<a href="https://www.facebook.com/association.robotique.ensi/?locale=fr_FR" target="_blank">Visiter notre page Facebook </a>
		</div>
		<div class="social-media-item">
			<h2>Instagram</h2>
			<img src="{% static 'image/instagram-24.png' %}">
			<p>Suivez-nous sur Instagram pour obtenir des mises à jour en temps réel.<br>&nbsp;</p>
			<a href="https://www.instagram.com/association.robotique.ensi/?hl=fr" target="_blank">Visiter notre profil Instagram</a>
		</div>
		<div class="social-media-item">
			<h2>Linkedin</h2>
			<img src="{% static 'image/linkedin-3-24.png' %}">
			<p>Consultez notre fil Linkedin pour nos nouvelles et événements.<br>&nbsp;<br>&nbsp;</p>
			<a href="https://www.linkedin.com/company/cr-ensi/" target="_blank">Visiter notre compte Linkedin</a>
		</div>
		<div class="social-media-item">
			<h2>Youtube</h2>
			<img src="{% static 'image/youtube-3-24.png' %}">
			<p>Consultez notre chaine Youtube pour du contenu éducatif.<br>&nbsp;<br>&nbsp;</p>
			<a href="https://www.youtube.com/@associationrobotiqueensi8646" target="_blank">Visiter notre chaine Youtube</a>
		</div>
	</div>
	</div>
</body>
</html>