body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background: url('/static/image/couv.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);

  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    color: #E2AC0D;
    font-size: 3em;
  }
  
  p {
    line-height: 1.5;
    text-align: justify;
    font-size: 1.5em;
  }